<div class="modal fade" id="mdlInfo">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title">Your baby sitting earnings</h2>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <span id="spninfo" style="font-weight:bold;font-size:50px;text-align:right"></span>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

