
@{
    ViewBag.Title = "ShiftForm";
}

<link href="../Content/bootstrap.min.css" rel="stylesheet" media="screen">
<link href="../content/bootstrap-datetimepicker.min.css" rel="stylesheet" media="screen">

<div class="container" style="padding-top:75px">
    <form id="frmshifts" action="" class="form-horizontal" role="form" method="post">
        <div class="form-group">
            <label for="dtp_input3" class="col-md-2 control-label">Start Time</label>
            <div class="input-group form_time date col-md-4" data-date="" data-date-format="MM dd yyyy hh:ii" data-link-field="dtp_input3" data-link-format="MM dd yyyy hh:ii">
                <input id="Startshift" name="Startshift" class="form-control" size="16" type="text" value="" readonly>
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-remove">
                    </span>
                </span>
                <span class="input-group-addon"><span class="glyphicon glyphicon-time"></span></span>
            </div>
            <input type="hidden" id="dtp_input3" value="" /><br />
        </div>
        <div class="form-group">
            <label for="dtp_input4" class="col-md-2 control-label">Bed Time</label>
            <div class="input-group date form_time col-md-4" data-date="" data-date-format="MM dd yyyy hh:ii" data-link-field="dtp_input4" data-link-format="MM dd yyyy hh:ii">
                <input id="Bedtime" name="Bedtime" class="form-control" size="16" type="text" value="" readonly>
                <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                <span class="input-group-addon"><span class="glyphicon glyphicon-time"></span></span>
            </div>
            <input type="hidden" id="dtp_input4" value="" /><br />
        </div>
        <div class="form-group">
            <label for="dtp_input5" class="col-md-2 control-label">End Time</label>
            <div class="input-group date form_time col-md-4" data-date="" data-date-format="MM dd yyyy hh:ii" data-link-field="dtp_input5" data-link-format="MM dd yyyy hh:ii">
                <input id="EndShift" name="EndShift" class="form-control" size="16" type="text" value="" readonly>
                <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                <span class="input-group-addon"><span class="glyphicon glyphicon-time"></span></span>
            </div>
            <input type="hidden" id="dtp_input5" value="" /><br />
        </div>

        <div class="col-md-7 text-center">
            <button type="submit" class="btn btn-lg btn-primary">Submit</button>
        </div>
    </form>

    @Html.Partial("_Earnings");

    
    <script type="text/javascript">
        $('.form_datetime').datetimepicker({
            //language:  'en',
            weekStart: 1,
            todayBtn: 1,
            autoclose: 1,
            todayHighlight: 1,
            startView: 2,
            forceParse: 0,
            showMeridian: 1
        });
        $('.form_date').datetimepicker({
            language: 'en',
            weekStart: 1,
            todayBtn: 1,
            autoclose: 1,
            todayHighlight: 1,
            startView: 2,
            minView: 2,
            forceParse: 0
        });
        $('.form_time').datetimepicker({
            language: 'en',
            weekStart: 1,
            todayBtn: 0,
            autoclose: 1,
            todayHighlight: 1,
            startView: 1,
            minuteStep: 60,
            minView: 0,
            maxView: 0,
            forceParse: 0
        });

        $("#frmshifts").submit(function () {
            if (!Validateform())
                return false;

            var jqxhr = $.post('../api/shiftcalculation/PostHours', $('#frmshifts').serialize())
                .success(function (data) {
                    alert(data);
                    $('#spninfo').text(data);
                    $('#mdlInfo').modal('show');
                })
                .error(function () {
                    $("#spninfo").innerText = "An Error has occured. Please try again";
                });
            return false;
        });

        
        function Validateform() {

            var shift1 = new Date($('#Startshift').val());
            //var shift2 = $('#Bedtime').val();
            var shift3 = new Date($('#EndShift').val());
            alert(shift3.getHours());

            if (shift1.getHours() < 17) {
                alert("Please provide a start time of 17:00 (5:00 PM) or greater!");
                return false;
            } else if (shift3.getHours() > 4) {
                alert("Please provide an earlier time than 4:00 AM!");
                return false;
        }
     }


    </script>
